name: mlops-boilerplate
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - pip:
      - fastapi
      - uvicorn
      - scikit-learn
      - pandas
      - numpy
      - mlflow
      - dvc
      - boto3
      - joblib
      - requests
      - pytest
      - python-dotenv
